<div class="list-group" *ngFor="let product of products">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">{{product.name}}</h4>
    <p class="list-group-item-text">{{product.description}}</p>
    <img src="{{product.imageUrl}}" width='50px;' height='50px;'/>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
</div>